@using NetCoreTemplate.DAL.Permissions
@using NetCoreTemplate.Web.Extensions
@using Type = NetCoreTemplate.DAL.Permissions.Type
@using Action = NetCoreTemplate.DAL.Permissions.Action
@model NetCoreTemplate.ViewModels.Interfaces.IBaseAuthenticationViewModel
<li class="nav-divider">
    Menu
</li>
<li class="nav-item ">
    <a class="nav-link @(Model.IsActive(Url.Action("Index", "Dashboard")) ? "active" : string.Empty)" href="@Url.Action("Index", "Dashboard")">
        <i class="fa fa-fw fa-user-circle"></i> @Model.Label["Dashboard:MainMenu:Dashboard"]
    </a>
</li>
@if (Model.HasPermission(Module.Dashboard, Type.Roles, Action.View))
{
    <li class="nav-item ">
        <a class="nav-link @(Model.IsActive(Url.Action("List", "Role")) ? "active" : string.Empty)" href="@Url.Action("List", "Role")">
            <i class="fa fa-fw fa-tasks"></i> @Model.Label["Dashboard:MainMenu:Roles"] 
        </a>
    </li>
}