@using System.Net
@using NetCoreTemplate.Web.Extensions.FormHelper
@model NetCoreTemplate.ViewModels.Controllers.Admin.SignInViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="@Model.CultureInfo.TwoLetterISOLanguageName.ToLower()">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/theme.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <link rel="stylesheet" href="~/assets/vendor/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
    <title>@Model.Label["Dashboard:SignIn:SignIn"] - NetCoreTemplate</title>
</head>
<body>
    <div class="splash-container">
        <div class="card ">
            <div class="card-header header-dark text-center">
                <a href="@Url.Action("Index", "Dashboard")">
                    AspNetCoreTemplate
                </a>
                <span class="splash-description">
                    @Model.Label["Dashboard:SignIn:Message"]
                </span>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("SignIn", "Admin", FormMethod.Post))
                {
                    @Html.BoxedTextBoxFor(m => m.Username, Model.Label["Dashboard:SignIn:Username"])
                    @Html.BoxedTextBoxFor(m => m.Password, Model.Label["Dashboard:SignIn:Password"], textboxType: "password")
                    @Html.ButtonFor(Model.Label["Dashboard:SignIn:SignIn"])
                }
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <p><a href="@Url.Action("PasswordReset", "Admin")">Wachtwoord resetten?</a></p>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div class="col-md-12">
                        <span class="splash-description" style="text-align: left; font-weight: 600;">
                            @Model.Label["Dashboard:MainMenu:ChangeLanguage"]
                        </span>
                    </div>
                    <div class="col-md-6" style="margin-top: 5px;">
                        <div>
                            <a href="@Url.Action("Language", "Admin", new { languageCode = "nl", returnPath = WebUtility.UrlEncode(Model.Path) })">
                                <span style="float: left; display: block;">
                                    <img src="~/assets/img/flags/nl.png" style="border-width: 0px; width: 25px;"/>
                                </span>
                                <span style="display: contents; padding: 15px 0 0 0;">
                                    <span style="margin-left: 15px;">@Model.Label["Dashboard:MainMenu:Dutch"]</span>
                                </span>
                                <span class="clear-fix"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 5px;">
                        <div>
                            <a href="@Url.Action("Language", "Admin", new { languageCode = "en", returnPath = WebUtility.UrlEncode(Model.Path) })">
                                <span style="float: left; display: block;">
                                    <img src="~/assets/img/flags/en.png" style="border-width: 0px; width: 25px;"/>
                                </span>
                                <span style="display: contents; padding: 15px 0 0 0;">
                                    <span style="margin-left: 15px;">@Model.Label["Dashboard:MainMenu:English"]</span>
                                </span>
                                <span class="clear-fix"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 5px;">
                        <div>
                            <a href="@Url.Action("Language", "Admin", new { languageCode = "de", returnPath = WebUtility.UrlEncode(Model.Path) })">
                                <span style="float: left; display: block;">
                                    <img src="~/assets/img/flags/de.png" style="border-width: 0px; width: 25px;"/>
                                </span>
                                <span style="display: contents; padding: 15px 0 0 0;">
                                    <span style="margin-left: 15px;">@Model.Label["Dashboard:MainMenu:German"]</span>
                                </span>
                                <span class="clear-fix"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 5px;">
                        <div>
                            <a href="@Url.Action("Language", "Admin", new { languageCode = "fr", returnPath = WebUtility.UrlEncode(Model.Path) })">
                                <span style="float: left; display: block;">
                                    <img src="~/assets/img/flags/fr.png" style="border-width: 0px; width: 25px;"/>
                                </span>
                                <span style="display: contents; padding: 15px 0 0 0;">
                                    <span style="margin-left: 15px;">@Model.Label["Dashboard:MainMenu:French"]</span>
                                </span>
                                <span class="clear-fix"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
